html, body {
  height: 100%;
  width: 100%
}

nav {
overflow: auto;
}

.navbar {
  background: #000000;
  font-size: 1.2em;
}

.navbar-brand{
  padding: 0 15px 9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4em;
}
.navbar-brand.active{
  color: #FFF;
}

.navbar-inverse .navbar-nav li a{
  color: #dad6d6d2;
}

.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a.active {
  color: #FFF;
}

#home {
  background: url(img/SPAC_2018_GroupPhoto.png) no-repeat center center fixed;
  display:table;
  width: 100%;
  position: relative;
  height: 100%; 
  background-size: cover;
  padding: 20px;
}

.landing-text {
  display: table-cell;
  text-align:center;
  vertical-align: middle;
  text-shadow: 8px 8px 10px #000000;
  color: #FFF;
  filter:brightness(250%);
}


.landing-text h1{
  font-size: 500%;
  font-family: Verdna, Geneva, serif;
  font-style: BOLD;
}

.landing-text h3{
  font-size: 200%;
}

.landing-text h6{
  padding:0.2em;
  font-size: 180%;
}

.fa:hover {
  opacity: 0.7;
  color: rgba(128, 128, 128, 0.527);
  text-decoration: none;
}

.fa-envelope {

  color: white;
  padding-left:0.1em;
  padding-right:0.1em;

}

.fa-facebook {

  color: white;
  padding-left:0.1em;
  padding-right:0.1em;

}

.fa-instagram {

  color: white;
  padding-left:0.1em;
  padding-right:0.1em;

}

.fa-linkedin {

  color: white;
  padding-left:0.1em;
  padding-right:0.1em;

}

.fa-github {

  color: white;
  padding-left:0.1em;
  padding-right:0.1em;

}

.footer-site {
  background: black;
  width: 100%;
}

#footer-content h3, h6 {
  color:white;
  width: 100%;
}

u {
  font-size: 400%;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  border-bottom: 4px solid red;
}

#fixed{
  background: url(img/transitions.jpeg) no-repeat center center fixed;
  display: table;
  height: 60%;
  position: relative;
  width: 100%;
  background-size: cover;
}